<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>email Auth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
</head>

<body style="background-color:grey">
    <center>
        <p style="font-size: 50px; color:white">Please wait while you are being redirected</p><br>
        <i style="font-size: 50px; color:white;" class="fas fa-ellipsis-h"></i>
    </center>
    <div id="firebaseui-auth-container"></div>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-auth.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script>
        var config = {
            apiKey: "AIzaSyC0eejUPM-FAgg6dXKwOX82qtasMCRSPl4",
            authDomain: "inkbridgemailauth.firebaseapp.com",
            databaseURL: "https://inkbridgemailauth.firebaseio.com",
            projectId: "inkbridgemailauth",
            storageBucket: "",
            messagingSenderId: "190501518002"
        }; firebase.initializeApp(config);

        // FirebaseUI config.
        var uiConfig = {
            signInSuccessUrl: '/homenew',
            signInOptions: [
                // Leave the lines as is for the providers you want to offer your users.
                firebase.auth.EmailAuthProvider.PROVIDER_ID,
            ],
            // tosUrl and privacyPolicyUrl accept either url string or a callback
            // function.
            // Terms of service url/callback.
            tosUrl: '<your-tos-url>',
            // Privacy policy url/callback.
            privacyPolicyUrl: function () {
                window.location.assign('<your-privacy-policy-url>');
            }
        };

        // Initialize the FirebaseUI Widget using Firebase.
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        // The start method will wait until the DOM is loaded.
        ui.start('#firebaseui-auth-container', uiConfig);

    </script>
</body>

</html>