<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="icon" href="/Images/logo.png">
     <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
</head>
<style>
    body {
        width: 100wh;
        height: 90vh;
        color: #fff;
        background: linear-gradient(-45deg, #2c3e50, #57606f, #2f3542, #747d8c);
        background-size: 400% 400%;
        -webkit-animation: Gradient 35s ease infinite;
        -moz-animation: Gradient 35s ease infinite;
        animation: Gradient 35s ease infinite;
        font-family: 'Quicksand', sans-serif;
    }

    div#divcontainer {
        -webkit-box-shadow: 0px 0px 8px -2px rgba(255, 255, 255, 0.34);
        -moz-box-shadow: 0px 0px 8px -2px rgba(255, 255, 255, 0.34);
        box-shadow: 0px 0px 8px -2px rgba(255, 255, 255, 0.34);
        background-color: rgba(0, 0, 0, 0.246);
    }

    .options {
        background-color: transparent;
        color: white;
        border-style: solid;
        border-width: 1px;
        border-radius: 50px;
        transition-duration: 0.3s;
    }

    .options:hover{
        color: black;
        background-color: white;
        transition-duration: 0.3s;
    }

    .options:focus{
        outline: none;
    }

    #next{
        background-color: lightslategrey;
        border: none;
        transition-duration: 0.4s;
    }

    #next:hover{
        background-color: #343a40;
        color: white;
        transition-duration: 0.4s;
        -webkit-box-shadow: 0px 0px 4px 2px rgba(219,219,219,1);
        -moz-box-shadow: 0px 0px 4px 2px rgba(219,219,219,1);
        box-shadow: 0px 0px 4px 2px rgba(219,219,219,1);   
    }

    #next:focus{
        outline: none;
    }
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-2">
                <img src="/Images/logo.png" width="140" height="140" class="img-fluid" id="logo">
            </div>
        </div>
        <div class="row">
            <div id="divcontainer" class="offset-xl-3 offset-0 col-xl-6 col-12">
                <center>
                    <div class="row">
                        <div class="col-12 pt-3">
                            <h1>Writeup Genres?</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-xl-5 p-3">
                            <button onclick="changer(this.id);" id="fiction" class="p-2 pr-4 pl-3 mt-3 mx-1 options"><i class="fas fa-hashtag"></i>&nbsp;Fiction</button>
                            <button onclick="changer(this.id);" id="non-fiction" class="p-2 pr-4 pl-3 mt-3 mx-1 options"><i class="fas fa-hashtag"></i>&nbsp;Non-Fiction</button>
                            <button onclick="changer(this.id);" id="fantasy" class="p-2 pr-4 pl-3 mt-3 mx-1 options"><i class="fas fa-hashtag"></i>&nbsp;Fantasy</button>
                            <button onclick="changer(this.id);" id="horror" class="p-2 pr-4 pl-3 mt-3 mx-1 options"><i class="fas fa-hashtag"></i>&nbsp;Horror</button>
                            <button onclick="changer(this.id);" id="romanace" class="p-2 pr-4 pl-3 mt-3 mx-1 options"><i class="fas fa-hashtag"></i>&nbsp;Romance</button>
                            <button onclick="changer(this.id);" id="mystery" class="p-2 pr-4 pl-3 mt-3 mx-1 options"><i class="fas fa-hashtag"></i>&nbsp;Mystery</button>
                            <button onclick="changer(this.id);" id="thriller" class="p-2 pr-4 pl-3 mt-3 mx-1 options"><i class="fas fa-hashtag"></i>&nbsp;Thriller</button>
                        </div>
                    </div>
                </center>
                <div class="mb-3 row">
                    <div class="col-12">
                        <button class="px-4 py-1" id="next" onclick="pushDoc(event);" style="float:right">Next &raquo;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyC0eejUPM-FAgg6dXKwOX82qtasMCRSPl4",
            authDomain: "inkbridgemailauth.firebaseapp.com",
            databaseURL: "https://inkbridgemailauth.firebaseio.com",
            projectId: "inkbridgemailauth",
            storageBucket: "",
            messagingSenderId: "190501518002"
        }; 
        


        // Firebase Config object of @PranjalAgnihotri
        // const firebaseConfig = {
        //     apiKey: "AIzaSyDfdaV5IGFg6g0vPc8NEJyasQhuFHtIxZk",
        //     authDomain: "inkbridge-web.firebaseapp.com",
        //     databaseURL: "https://inkbridge-web.firebaseio.com",
        //     projectId: "inkbridge-web",
        //     storageBucket: "inkbridge-web.appspot.com",
        //     messagingSenderId: "149865936726",
        //     appId: "1:149865936726:web:d93e33c9e2cecf31"
        // };


        firebase.initializeApp(firebaseConfig);

        let genres = [];
        function changer(id){
            
            var button = document.getElementById(id);

            if(button.style.backgroundColor == 'white'){
                //Remove in genres
                genres = genres.filter(function(genre) {
                    return (genre !== button.id);
                });

                button.style.backgroundColor = 'transparent';
                button.style.color = 'white';
            } else {
                //add in genres
                genres.push(button.id);
                button.style.backgroundColor = 'white';
                button.style.color = 'black';
            }
        }

        async function pushDoc(event) {
            event.preventDefault();
            const  dbRefObj = await firebase.database().ref();
            const  userRef = await dbRefObj.child('UsersDetails');
            const userObj = JSON.parse(localStorage.getItem('storeObj'));
            userObj.genre = genres;
            const  result = await userRef.push(userObj);
            console.log('Pushed!!!! :)')
        }
    </script>
</body>

</html>