*{
    box-sizing: border-box;
}

body{
    background-color: gray !important;
    color: white !important;
}

form#mainform{
    width: 560px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 20px;
}

h2#createacc{
    font-size: 35px;
    font-family: 'PT Serif', serif;
    font-weight: 500;
}

#next{
    margin-top: 30px;
    margin-bottom: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-align: left;
    color: white;
    opacity: 0.6; /* Firefox */
    font-family: 'Acme', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-family: 'Acme', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-family: 'Acme', sans-serif;
}

.inp{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    width: 320px;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    transition: all 0.30s ease-in-out;
    color: white;
    text-align: left;
    font-family: 'Acme', sans-serif;
}

.inp:focus{
    width: 375px;
    border-bottom: 2px solid white;
}

button#eauth{
    font-family: 'Acme', sans-serif;
    width: 330px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: rgba(255, 215, 0, 0);
    border-color: white;
    border-width: 1px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

button#next {
    font-family: 'Acme', sans-serif;
    width: 250px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: rgba(255, 215, 0, 0);
    border-color: white;
    border-width: 1px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 50px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

button#next:hover, button#eauth:hover{
    background-color: white;
    color: black;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

button#next:focus, button#eauth:focus{
    outline: 0;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

input[type="checkbox"]{
    border-radius: 0%;
}

label{
    font-family: 'Raleway', sans-serif;
}


@media only screen and (max-width: 600px){
    form#mainform{
        background-color: rgba(165, 22, 22, 0);
        margin-top: 0px;
    }

    h2#createacc{
        font-size: 9.5vw;
    }

    .inp{
        width: 200px;
    }

    .inp:focus{
        width: 235px;
    }

    div#termsandcon{
        padding-left: 6.7vw;
    }
}


@media only screen and (max-width: 350px){

    label#termstext{
        font-size: 15px;
    }

    div#termsandcon{
        padding-left: 14px;
    }
}

@media only screen and (min-width: 575px){
    h2#createacc{
        font-size: 35px;
    }
}